<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkwithDB.Properties.Settings.MyDBConnectionString"
            connectionString="Data Source=DESKTOP-F01AA5A\SQLEXPRESS;Initial Catalog=MyDB;User ID=Soulisack;Password=77477686"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>